#titulo{
    color: tomato;
}



p.texto{
    color: rgb(0, 255, 213);
}

p.especial{
    color: rgb(255, 0, 0);
}
div p{
    color:aquamarine;
}

div h2, div h3{
    color:brown;
}

*{
    font-size: 24px;
    color:blue;
}

/* 
.Color{
    color: #ff0000;
} 
*/
/* 
.Color{
    color: rgb(020,250,100);
*/
.Color{
    /* border: 5px black dotted; */
    /**
    dotted
    dashed
    solid
    double
    groove
    ridge
    inset
    outset
    none
    hidden
    **/
    border-style:solid;
    border-color: red;
    border-radius: 30px;
    border-width: 2rem;   
}
#background{
    height: 300px;
    background: #f00 url('galaxy.jpg') no-repeat center center /200px 200px;
}
.margen{
    background-color: chocolate;
    margin: 15px 0px 30px 50px;
    padding: 30px 25px 20px 15px;
    border: solid 2px black;
    height: 200px;
    width: 50px;
    overflow: scroll;
    outline: 6px solid purple;
}
.txt{
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    text-decoration: overline;
    text-shadow: 3px 5px 5px black;

}