.body {
    background-color: rgb(255, 255, 255);
    transition: background-color 300ms ease;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
    mix-blend-mode: screen;
  }
.body-calculator {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: 75%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    border: 1px none #000;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px 9px #000;
    outline-color: #333;
    outline-offset: 0px;
    outline-style: solid;
    outline-width: 3px;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
    overflow: hidden;
  }
@media screen and (max-width: 991px) {
    .body-calculator {
      width: 50%;
    }
  }
  
@media screen and (max-width: 767px) {
    .body-calculator {
      width: 100%;
    }
  }
@media screen and (max-width: 479px) {
    .body-calculator {
      width: 100%;
      height: 75%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 auto;
      -ms-flex: 0 auto;
      flex: 0 auto;
    }
  }
