.head{
  text-align: center;
  background-color: red;
  height: 30px;
}
.inline-block{
  color: white;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: blue;
}
.center{
  text-align: center;
  width: 200px;
  margin: 0 auto;
  background-color: aqua;
}